{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Change Category
{% endblock title %}

{% block content %}
    <section class="container mt-5">
        <h1>Change Category</h1>
        <div class="row mt-5 align-content-center">
            <div class="col-sm-12 col-md-8 align-items-center">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-success border-0" type="submit">Save</button>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}