{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    <section class="container mt-5">
        <h1 class="mb-5">Categories</h1>
        <div class="table-responsive">
            <a class="btn btn-primary rounded-0 w-100" href="{% url 'category_create' %}">Create Category</a>
            <table class="table table-hover border">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Events</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <th scope="row"><a class="text-decoration-none" href="{% url 'category_update' category.id %}">{{ category.id }}</a> </th>
                            <td>{{ category.name }}</td>
                            <td>{{ category.events.count }}</td>
                            <td><a class="btn btn-info" href="{% url 'category_update' category.id %}">Change</a></td>
                            <td><a class="btn btn-danger" href="{% url 'category_delete' category.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}