{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Welcome to D-Event
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row mt-5 align-items-center">
            <div class="col-md-6">
                <h1 class="text-capitalize">
                    Welcome to d-Event!
                </h1>
                <h3>We are excited to have you join us for an engaging and inspiring experience.</h3>
                <p>
                    Here at D-Event, we know that it can be difficult to find the perfect event for you.
                    That's why we've created a platform that allows you to find and register for events that
                    are tailored to your interests.
                </p>
            </div>
            <div class="col">
                <img src="{% static 'images/landing_page_image.avif' %}" alt="landing page image" class="img-fluid">
            </div>
        </div>
        <div class="row mt-5 align-items-center search">
            <div class="col-md-6">
                <img src="{% static 'images/search_image.svg' %}" alt="search image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 class="text-capitalize">
                    Find Events
                </h1>
                <h3>Search for events by category, location, or title.</h3>
                <p>
                    Our search engine allows you to find events that are relevant to you. You can search
                    by category, location, or event title.
                </p>
                <a class="btn btn-change" href="{% url 'events' %}">Explore Events</a>
            </div>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-md-6 mb-sm-3">
                <h1 class="text-capitalize">
                    Register for Events
                </h1>
                <h3>Register for events that you are interested in.</h3>
                <p>
                    Once you find an event that you are interested in, you can register for it. You will
                    be able to see the event details and register for the event.
                </p>
                <a class="btn btn-change" href="{% url 'register' %}">Get Started</a>
            </div>
            <div class="col">
                <img src="{% static 'images/register_image.avif' %}" alt="register image" class="img-fluid rounded-3">
            </div>
        </div>
        <div class="row mt-5 align-items-center search">
            <div class="col-md-6">
                <img src="{% static 'images/attend_image.svg' %}" alt="attend image" class="img-fluid">
            </div>
            <div class="col">
                <h1 class="text-capitalize">
                    Attend Events
                </h1>
                <h3>Attend events that you have registered for.</h3>
                <p>
                    Once you have registered for an event, you will be able to see the event details and
                    attend the event. You will be able to see the event details and attend the event.
                </p>
            </div>
        </div>
        <div class="row mt-5 align-content-center justify-content-center">
            <div class="col-md-6 my-auto">
                <p>
                    Our website is designed to make the event registration process as straightforward and stress-free as possible.
                    With our easy-to-use interface, you can quickly and easily search for events, view event details, and register for events of your choice.
                </p>
            </div>
            <div class="col mt-sm-5">
                <h2 class="text-capitalize">Why Choose Us?</h2>
                <ul class="list-unstyled">
                    <li>
                        <h3 class="text-capitalize text-purple">Easy to use interface</h3>
                        <p>
                            Our platform is designed to be user-friendly and intuitive. You can quickly and easily search and register for events in few clicks.
                        </p>
                    </li>
                    <li>
                        <h3 class="text-capitalize text-purple">Wide range of events</h3>
                        <p>
                            We have a wide range of events from small gatherings to large conventions. Whatever you are looking for,
                            we are sure to have something for you.
                        </p>
                    </li>
                    <li>
                        <h3 class="text-capitalize text-purple">Free to use</h3>
                        <p>
                            Our platform is free to use. You can register for as many events as you want without any additional fees.
                        </p>
                    </li>
                    <li>
                        <h3 class="text-capitalize text-purple">Security</h3>
                        <p>
                            We take your privacy and security seriously. We use the latest security technologies to ensure that your information is safe.
                        </p>
                    </li>
                    <li>
                        <h3 class="text-capitalize text-purple">24/7 customer support</h3>
                        <p>
                            We are always here to help. If you have any questions or concerns, please feel free to contact us.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8 mt-sm-3 align-items-center">
                <p class="h5">
                    Sign up today to start exploring our selection of events and register for the ones that interest you!
                </p>
            </div>
            <div class="col-md-4 mt-sm-5 text-center">
                <a href="{% url 'register' %}" class="btn btn-change w-50">Get Started</a>
            </div>
        </div>
    </section>
{% endblock content%}
