{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Contact - D-Event
{% endblock title %}

{% block content %}
    <section class="container pt-5">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-5" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-5 pt-2">Contact Us</h1>
        <p class="mb-5 contact-p">
            We are here to make your event planning, hosting and registration process an easy and successful one.
            Our team of event planners and coordinators have the experience to help you plan and execute any type of event.
        </p>
        <div class="row align-items-center mx-sm-3">
            <div class="col-md-6 mb-4">
                <div class="contact-aside  p-md-5 mr-md-4 ">
                    <img src="{% static 'images/contact.avif' %}" class="rounded-circle" alt="">
                    <p class="mt-5">
                        If you are interested in learning more about what we can do for you, please contact us using one of the following methods:
                    </p>
                    <a href="tel:+263784433740" class="text-decoration-none text-dark d-flex align-items-center"><i class="bx bx-phone"></i>: +263 78 443 3740</a>
                    <a href="mailto:d.event.website@gmail.com" class="text-decoration-none text-dark d-flex align-items-center"><i class="text-dark bx bx-envelope"></i>: d.event.website@gmail.com</a>
                    <a href="https://wa.me/263784433740" class="text-decoration-none text-dark d-flex align-items-center"><i class="text-dark bx bxl-whatsapp"></i>: +263 78 443 3740</a>

                    <p class="d-flex align-items-center mt-2">
                        <i class="bx bx-map"></i> 1st Floor, 1st Avenue, Harare, Zimbabwe
                    </p>
                    <p class="d-flex align-items-center"><i class='bx bx-time'></i> Business Hours:</p>
                    <p class="ml-5 pl-5 indent">
                        Monday to Friday: 8am to 4pm
                    </p>
                    <p class="ml-5 pl-5 indent">Saturday and Sunday: 9am to 2pm</p>
                </div>
            </div>
            <div class="col-md-6 contact-form">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend>If you have any questions, or you would like to discuss your event plans with us, please do not hesitate to reach out to us</legend>
                                <p class="font-monospace">{{ form.sender_name }}</p>
                                <p class="font-monospace">{{ form.sender_email }}</p>
                                <p class="font-monospace">{{ form.content }}</p>
                                <button type="submit" class="btn btn-change rounded-0 w-50 mx-auto d-block">Send Message</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}