{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Participants
{% endblock title %}

{% block content %}
    <section class="container mt-5">
        <h1 class="mb-5">Participants</h1>
        <div class="table-responsive">
            <table class="table table-hover border">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Attendant</th>
                        <th scope="col">Events</th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in page_obj %}
                        <tr>
                            <th scope="row">{{ participant.id }}</th>
                            <td>{{ participant.attendant.username }}</td>
                            <td>{{ participant.registered_events.count }}</td>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination mt-5">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="d-inline btn btn-outline-change">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="d-inline btn btn-outline-change">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="d-inline btn btn-outline-change">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="d-inline btn btn-outline-change">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </section>
{% endblock content %}