{#<footer class="mt-5 p-5">#}
{#    <div class="container">#}
{#    <div class="row">#}
{#        <div class="col-md-4">#}
{#            <h3>Permalinks</h3>#}
{#            <a class="text-decoration-none" href="{% url 'home' %}">Home</a>#}
{#            <br>#}
{#            <a class="text-decoration-none" href="{% url 'events' %}">Events</a>#}
{#            <br>#}
{#            <a class="text-decoration-none" href="{% url 'home' %}">About</a>#}
{#            <br>#}
{#            <a class="text-decoration-none" href="{% url 'home' %}">Contact</a>#}
{#            <br>#}
{#            <a class="text-decoration-none" href="{% url 'login' %}">Login</a>#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#            <h3></h3>#}
{#            <p>Footer</p>#}
{#        </div>#}
{#        <div class="col-md-4">#}
{#            <h3>Footer</h3>#}
{#            <p>Footer</p>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
{#</footer>#}

<footer class="w-100 py-2 align-content-end mt-5">
    <p class="text-end w-100"><i>Copyright &COPY;{% now 'Y' %} D-Event. All rights reserved.</i></p>
</footer>